
body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Caolingia";
  src: url("../assets/fonts/carolingia.ttf");
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}