@import 'colors';

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
}

img {
  border: none;
  max-width: 100%;

  a > img{
    border: 0px;
  }
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style-type: disc;
  margin: 16px 0px;
  padding-left: 40px;
}
